<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a Dish</title>
</head>
@using CRUDelicious.Models
@model Dish
<body>
    <h1>Add a new Dish!</h1>

    <u> <a href="/">Home</a><br><br> </u>

    <form asp-action="NewDish" asp-controller="Home" method="POST">
        <label asp-for="Chef">Chef's Name</label>
        <input asp-for="Chef">
        <span asp-validation-for="Chef"></span><br>
        <label asp-for="Name">Name of Dish</label>
        <input asp-for="Name">
        <span asp-validation-for="Name"></span><br>
        <label asp-for="Calories">#of Calories</label>
        <input asp-for="Calories">
        <span asp-validation-for="Calories"></span><br>
        <label asp-for="Tastiness">Tastiness</label>
        <select asp-for="Tastiness">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <span asp-validation-for="Tastiness"></span><br>
        <label asp-for="Tastiness">Description</label><br>
        <textarea asp-for="Description" cols="30" rows="5"></textarea>
        <span asp-validation-for="Description"></span><br>
        <button type="submit">Add Dish</button>
    </form>

</body>
</html>