<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
@using CRUDelicious.Models
@model List<Dish>                                         
<body>
    <h1>Welcome to CRUDelicious</h1>
    <h3>Check out some recent dishes!</h3>

    <u> <a href="/new">Add a Dish</a><hr> </u>
    
 
    @{
        foreach(Dish dish in @Model)
        {
            <h4><u> <a href="/@dish.DishId">@dish.Name </a> </u>  by @dish.Chef</h4>
        }
    }
    
</body>
</html>